<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simulation de réponse de crédit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container-xxl p-3">
        <div class="row">
            <div class="p-3">
                <h2>Bienvenue sur le site de simulation de crédit</h2>
                <p>
                    <ol>
                        <li>Veuillez d'abord saisir l'identifiant de la demande de crédit.</li>
                        <li>Réglez éventuellement le nombre de paramètres de la demande pour l'explication de résultat</li>
                        <li>Cliquez sur le bouton <i>Chercher</i></li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="sk_id_curr" placeholder="1000001" list="datalistOptions">
                    <label for="sk_id_curr">N° demande</label>
                </div>
                <datalist id="datalistOptions">
                </datalist>
            </div>
            <div class="col-12 col-md-5 col-lg-6">
                <input type="range" class="form-range" min="1" max="512" step="1" id="max_display" value="25">
                <label for="max_display" class="form-label w-100 text-center" id="label_max_display">N° de paramètres à expliquer: 25</label>
            </div>
            <div class="col-12 col-md-1">
                <div class="d-grid gap-2 mb-3">
                    <button type="button" class="btn btn-primary mb-3" id="search_btn">Chercher</button>
                </div>
            </div>
            <div class="col-12 col-md-1">
                <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-secondary mb-3" id="reset_btn">Effacer</button>
                </div>
            </div>
        </div>
        <div class="d-none" id="results">
            <div class="row"><div id="conclusion"></div></div>
            <div class="row"><h2 class="text-center">Répartition des probabilités</h2></div>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <span>Probabilité d'accord</span>
                    <span>Probabilité de refus</span>
                </div>
                <div class="d-flex w-100 ">
                    <div class="flex-fill bg-success text-white text-start" id="conclusion_perc_0">&nbsp;</div>
                    <div class="flex-fill bg-danger text-white text-end" id="conclusion_perc_1">&nbsp;</div>
                </div>
                <div style="width:1px; position: absolute; left: 49%; border-left: solid 1px white;">&nbsp;</div>
            </div>
            <div class="row"><h2 class="text-center">Explication</h2></div>
            <div class="row">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a
                        class="nav-link active" data-bs-toggle="tab" role="tab"
                        aria-controls="expl_indiv" aria-selected="false"
                        href="#expl_indiv">Explication individuelle</a>
                  </li>
                  <li class="nav-item">
                    <a
                        class="nav-link" data-bs-toggle="tab" role="tab"
                        aria-controls="pos_indiv" aria-selected="false"
                        href="#pos_indiv">Positionnement individuel</a>
                  </li>
                </ul>


                <div class="tab-content" id="ex1-content">
                    <div
                        class="tab-pane fade show active"
                        id="expl_indiv"
                        role="tabpanel"
                        ria-labelledby="expl_indiv"
                    >
                        <div class="text-center">
                            <img id="explanation" src="">
                        </div>
                    </div>

                    <div
                        class="tab-pane fade show"
                        id="pos_indiv"
                        role="tabpanel"
                        ria-labelledby="pos_indiv"
                    >
                        <div id="details_distrib" class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal " id="wait_modal" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div style="width: 4rem; height: 4rem;">&nbsp;</div>
                    <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
                    </div>
                    <div style="width: 4rem; height: 4rem;">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        const waitModal = new bootstrap.Modal('#wait_modal');
        //waitModal.hide();

        let arr_sk_id_curr = [];
        document.getElementById("max_display").addEventListener("change", function(e) {
            document.getElementById("label_max_display").innerText = "N° de paramètres à expliquer: " + document.getElementById("max_display").value;
        });
        document.getElementById("max_display").addEventListener("input", function(e) {
            document.getElementById("label_max_display").innerText = "N° de paramètres à expliquer: " + document.getElementById("max_display").value;
        });
        document.getElementById("sk_id_curr").addEventListener("keyup", e => {
            let q = document.getElementById("sk_id_curr").value.trim();
            if (q=="") {
                document.getElementById("datalistOptions").innerHTML = arr_sk_id_curr.map(e => `<option value="${e}">`).join("");
            } else {
                let tmp = arr_sk_id_curr.filter(e => e.startsWith(q));
                document.getElementById("datalistOptions").innerHTML = tmp.map(e => `<option value="${e}">`).join("");
            }
        });

        document.getElementById("search_btn").addEventListener("click", function(e) {
            if (document.getElementById("sk_id_curr").value.trim()==""){
                alert("Id de la demande non renseigné");
                return;
            } 

            document.getElementById("results").classList.remove("d-none");
            let csrf_token = "{{ csrf_token() }}";
            let payload = {
                "csrf_token": csrf_token,
                "max_display": document.getElementById("max_display").value
            };
            let header = {   'content-type': 'application/json','accept': 'application/json',"X-CSRFToken": csrf_token}
            waitModal.show();
            fetch(
                "/predict2/"+document.getElementById("sk_id_curr").value.trim(), 
                {
                  method: "POST",
                  headers: header ,
                  body:JSON.stringify(payload),
                  credentials: 'include',
                })
                .then(function(res) {
                    return res.json();
                }).then(function(data) {
                    if (data.success) {
                        if (data.conclusion==0){
                            document.getElementById("conclusion").innerHTML = `<div class="alert alert-success text-center" role="alert"><h1>Crédit accordé</h1></div>`; 
                        } else {
                            document.getElementById("conclusion").innerHTML = `<div class="alert alert-danger text-center" role="alert"><h1>Crédit refusé</h1></div>`; 
                        }
                        document.getElementById("conclusion_perc_0").style.width = `${100*data.conclusion_proba[0]}%`; 
                        document.getElementById("conclusion_perc_0").innerText = data.conclusion_proba[0];
                        document.getElementById("conclusion_perc_1").style.width = `${100*data.conclusion_proba[1]}%`;
                        document.getElementById("conclusion_perc_1").innerText = data.conclusion_proba[1];
                        document.getElementById("explanation").src = "data:image/png;base64, " + data.image;

                        let html = "";
                        for(let i=0; i<data.features_importances.length; i++) {
                            html += `<div class="col col-md-6" id="div-feat_importance_${i}"></div>`
                        }
                        document.getElementById("details_distrib").innerHTML = html;

                        for(let i=0; i<data.features_importances.length; i++) {
                            let x = [];
                            let colors = [];
                            for (let j=0; j<data.features_importances[i].hist_json_x.length - 1; j++) {
                                x.push(`${data.features_importances[i].hist_json_x[j]} - ${data.features_importances[i].hist_json_x[j+1]}`);
                                if (data.features_importances[i].value>=data.features_importances[i].hist_json_x[j] &&
                                    (
                                        (j < data.features_importances[i].hist_json_x.length - 2 &&  data.features_importances[i].value<data.features_importances[i].hist_json_x[j+1]) ||
                                        (j == data.features_importances[i].hist_json_x.length - 2 &&  data.features_importances[i].value<=data.features_importances[i].hist_json_x[j+1])
                                    )
                                ) {
                                    colors.push("#ff0000");
                                } else {
                                    colors.push("#0000FF");
                                }
                            }
                            let trace1 = {
                                x: x,
                                y: data.features_importances[i].hist_json_y,
                                name: data.features_importances[i].name,
                                type: 'bar',
                                marker: {
                                    color: colors
                                }
                            };

                            let layout = {
                                title: `${data.features_importances[i].name}: ${data.features_importances[i].contribution}`,
                                showlegend: false,
                                xaxis: {
                                    tickangle: -45,
                                    showticklabels: false
                                },
                                yaxis: {
                                    zeroline: false,
                                    gridwidth: 2
                                },
                                bargap :0.0,
                                width: "100%",
                                responsive:true
                            };
                            let d = [trace1];
                            Plotly.newPlot(`div-feat_importance_${i}`, d, layout);

                        }

                        document.getElementById("results").classList.remove("d-none");
                        setTimeout(function() { waitModal.hide(); });

                    } else {
                        setTimeout(function() { waitModal.hide(); });
                        alert(data.message);
                    }
                })
                .catch(err => {
                    alert(err);
                    setTimeout(function() { waitModal.hide(); });
                });
        });

        document.getElementById("reset_btn").addEventListener("click", function(e) {
            document.getElementById("conclusion").innerHTML = "";
            document.getElementById("conclusion_perc_0").innerText = "";
            document.getElementById("conclusion_perc_1").innerText = "";
            document.getElementById("explanation").src = "";
            document.getElementById("results").classList.add("d-none");
            document.getElementById("sk_id_curr").value = "";
            document.getElementById("max_display").value = 25;
            document.getElementById("max_display").dispatchEvent(new Event('input'));
        });

        document.addEventListener('DOMContentLoaded', function() {
            let csrf_token = "{{ csrf_token() }}";
            let payload = {
                "csrf_token": csrf_token
            };
            let header = {   'content-type': 'application/json','accept': 'application/json',"X-CSRFToken": csrf_token}

            fetch(
                "/sk_id_curr", 
                {
                  method: "GET",
                  headers: header ,
                  //body:JSON.stringify(payload),
                  credentials: 'include',
                })
                .then(function(res) {
                    return res.json();
                }).then(function(data) {
                    if (data.success) {
                        arr_sk_id_curr = data.data.map(e => e.toString());

                        //document.getElementById("datalistOptions").innerHTML = data.data.map(e => `<option value="${e}">`).join("");
                    } else {
                        alert(data.message);
                    }
                })
                .catch(err => {
                  console.log(err);
                });
        }, false);
    </script>
  </body>
</html>